@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.construction-container {
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px solid rgba(179, 98, 98, 0.1);
}

h1 {
  color: #e44d26; 
}

p {
  color: #333;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
body{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  background:url("/images/texture.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper{
  background-color: #545252;
  position: absolute;
  backdrop-filter: blur(15px);
  box-shadow: -10px 0 10px rgba(53, 52, 52, 0.5);
  border-left: 2px rgba(147, 139, 139, 0.5);
  top: 143px;
  right: 0;
  width: 100%;
  height:100% ;
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  opacity: 0;
  pointer-events: none;
  transition: .6s;
}


.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background:transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: #aaa8a8;
  box-shadow: -10px 10 20px rgba(147, 139, 139, 0.5);
  border-left: 2px solid rgba(35, 35, 35, 0.5);
  border-bottom: 1px solid rgba(30, 30, 29, 0.5);
  
}


.wrap{
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background: rgba(35, 34, 34, 0.4);
}

.nav-menu  {
  display: flex;
}

.navbar .nav-btn .nav-menu ul a{
  position: relative;
  text-decoration: none;
  font-weight: 500 ;
  color: #fff;
  padding-bottom: 15px;
  margin: 0 25px;
}

.nav-btn::before{
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  box-shadow: #181818;
  transition: .4s;
  opacity: 0.85;
}


.logo p{
  font-size: 32px; 
  color: white;    
  position: relative;
  text-decoration: none;
  font-weight: 700;
  pointer-events: none;
}

.logo p {
  top: 0;
  width: 14%;
  height: 90%;
  background-color: blue; 
}

.navbar {
  top: 0;    
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;  
  line-height: 100px;
  z-index: 100;
}

.nav-menu-btn {
  display: block;
}

.nav-menu-btn i{
  font-size: 25px;
  color: #fff;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;
}


.nav-menu-btn i:hover{
  background: rgba(255, 255, 255, 0.15);
}


.nav-btn .btn.white-btn {
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
}

.btn.white-btn{
  background: rgba(255, 255, 255, 0.6);
}

.btn.white-btn:hover {
  background: rgba(245, 243, 243, 0.5);
}


.nav-menu-btn {
  display: none;
}

.nav-menu ul{
  display: flex;
}


.nav-menu .link:hover{
  background: rgba(243, 237, 237, 0.15);
  width: 80px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;

  }

.nav-menu ul .link{
  text-decoration: none;
  font-weight: 500 ;
  color: #fff;
  padding-bottom: 15px;
  margin: 0 25px;
}
.link:hover, .active {
  border-radius: 5px;
  transition: .6s;
 
}

.link:hover {
  border-bottom: 1px solid white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;

 
}




.wrapper.active-popup{
  opacity: 1;
  pointer-events: auto;
}

.icon-close{
  position: absolute;
  top: 0px;
  right: 0;
  width: 45px;
  height: 45px;
  background: #fff;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;  
  align-items: center;
  border-bottom-left-radius: 10px;
}

.icon-close i{
  font-size: 32px;
  color:#333;
  background: transparent;
}


.wrapper .login-container{
  width: 100%;
}

.wrapper .form-box.login{
  display: block;
}

.wrapper.active .form-box.login{
  display: none;
}

.wrapper .form-box.signup{
  display: none;
}

.wrapper.active .form-box.signup{
  display: block;
}


.login-container .logintitle{
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
  
}

.logintitle h2{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 1px;
}

.logintitle p{
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}


.login-container .input-box{
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin: 30px;
  border-bottom: 2px solid #fff;

}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  font-weight: 500; 
  padding-right: 25px;

}

.input-box label{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
} 

.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
}

.input-box .icon{
  position: absolute;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  font-size: 19px;
  color: #fff;
}

.login-container .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
}

.remember-forgot label{
  color: #dbd1d1;
  margin: right 3px; 
}

.remember-forgot a{
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.login-container .btn{
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  cursor: pointer;
  font-size: 16px;
  color: black;
  font-weight: 600;
}

.login-container .signin-link{
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-size: 15px;
  margin-top: 25px;
}

.signin-link a p {
  color: yellow;
  text-decoration: none;
  font-weight: 600;
}

.signin-link a p:hover{
  text-decoration: underline;
}

.nav-menu-btn i:hover{
    background: white;
}
.btn.white-btn:hover{
  background: white;
}

.nav-menu .link:hover{
background: rgb(30, 29, 29);
width: 80px;
height: 45px;
display: flex;
justify-content: center;
align-items: center;
transition: .3s;
}
@media only screen and (max-width: 786px){
  .nav-menu.responsive{
      top: 100px;
  }
.nav-menu{
  position: absolute;
  top: -800px;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 90vh;
  backdrop-filter: blur(20px);
  transition: .3s;
}
  .nav-menu ul{
      flex-direction: column;
      text-align: center;
  }
  .nav-menu-btn{
      display: block;
  }
  .nav-menu-btn i{
      font-size: 25px;
      color: #fff;
      padding: 10px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      cursor: pointer;
      transition: .3s;
  }
  .nav-menu-btn i:hover{
      background: rgba(255, 255, 255, 0.2);
  }
}

@media only screen and (max-width: 540px) {
  .navbar{
    flex-direction: column;
    text-align: center;
    height: 34vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .nav-menu-btn i:hover{
      background: rgba(255, 255, 255, 0.2);
  }
  .btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.2);
}

.nav-menu .link:hover{
  background: rgba(255, 255, 255, 0.2);
}

  
}