

   
   
<body>
<!-- Login form -->
<form hx-post="/authenticate" hx-target="#loginForm" hx-swap="outerHTML" hx-headers='{"Content-Type": "application/json"}'>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <br>
  <button type="button" onclick="login()">Login</button>
</form>


<div id="result">
  <!-- The server response will replace this content -->
</div>

</body>